// h1 {
//     a {
//         color: red;
//     }
// }

h1 {
    color: $primary;
}

a {
    color: $secondary;
}

button {
    color: white;
    border: 0;
    background:  $primary;
    border-radius: $base-border-radius;
    padding: $base-paddding;
}

.error {
    color: $error;
    border-color: $error;
    border-style: solid;
    margin: $base-margin;
    padding: $base-paddding;
    border-radius: $base-border-radius;
    border-width: $base-border-thinknes;
}
.notification {
    color: $secondary;
    border-color: $secondary;
    border-style: solid;
    margin: $base-margin;
    padding: $base-paddding;
    border-radius: $base-border-radius;
    border-width: $base-border-thinknes;
}